a, a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
  	opacity: 1 !important;
}
.first-nav-top{
    li{
        a{
            font-family: 'Montserrat', sans-serif !important;
            font-size: 12px;
        }
    }
    .divider{
        color: #ffffff;
        font-weight: 200;
        line-height: 32px;
    }
}

/* Navegación search y menú */
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .dropdown-toggle{
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .nav-link,
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .dropdown-toggle{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #ffffff;
}
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .nav-link:hover, 
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .dropdown-toggle:hover, 
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items  .dropdown-toggle:focus{
	color: #919191;
}
.navigation-clean-search.navbar .navbar-nav.sb-menu-items .nav-link, 
.navigation-clean-search.navbar .navbar-nav.sb-menu-items .dropdown-toggle, 
.navigation-clean.navbar .navbar-nav.sb-menu-items .nav-link,
.navigation-clean.navbar .navbar-nav.sb-menu-items .dropdown-toggle{
	padding-left: 5px;
	padding-right: 5px;
}
.sc-icon-user{
	width: 16px;
	vertical-align: middle;
	margin-right: .3rem;
	transition: all .15s ease-in-out;
}
.sc-icon-contact{
	width: 18px;
	vertical-align: middle;
	margin-right: .3rem;
	transition: all .15s ease-in-out;
}

.sc-icon-cart{
	width: 24px;
	transition: all .15s ease-in-out;
}

.sc-cart-btn{
	position: relative;
  	display: inline-block;
}
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .nav-link:hover .sc-icon-user, 
.navigation-clean-search.navbar-light .navbar-nav.sb-menu-items .nav-link:hover .sc-icon-contact, 
.sc-cart-btn:hover .sc-icon-cart{
	opacity: .5;
}
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.nav-link{
	font-family: 'Josefin Sans', sans-serif;
	/* font-size: 14px; */
	font-size: .9vw;
	font-weight: 300;
}

.dropdown-toggle i{
	vertical-align: middle;
}

.dropdown-toggle:after {
   display: none !important;

}

.navigation-clean.navbar-light .navbar-nav .nav-link{
	white-space: nowrap;
}
.navigation-clean .container-fluid .collapse .navbar-nav .nav-item a span{
    color: white;
    font-weight: 500;
}
.navigation-clean .container-fluid .collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item span{
    color: #919191 !important;
    font-weight: 500;
}
.offcanva-custom{
    width: 80% !important;
    background: #1A1A1A!important;
}
.offcanva-custom h5 {
    color: white;
}
.offcanva-custom .offcanvas-header button {
    border: none;
    background: #1A1A1A!important;
}
.offcanva-custom .offcanvas-header button i{
    color: white;
    font-size: 24px;
}
.lista-custom ul{
    list-style: none;
}
.lista-custom ul li a{
    color: white !important;
    font-size: 18px;
}
.lista-custom ul li ul{
    background: #1A1A1A!important;
    border: none;
    list-style: disc;
    color: white;
}
.lista-custom ul li .dropdown-menu li .dropdown-item {
    margin-top: -10px!important;
}
@media (max-width: 1200px){
    .first-nav-top li:nth-of-type(2),
	.first-nav-top li:nth-of-type(3),
	.first-nav-top li:nth-of-type(4),
	.first-nav-top li:nth-of-type(5),
	.sb-menu-items .nav-link span,
	.sb-menu-items li:nth-of-type(2),
	.sb-menu-items li:nth-of-type(3)
	{
		display: none;
	}
    .sc-icon-user, .sc-icon-contact {
		width: 30px;
		height: 30px;
	}
	.sc-icon-cart {
		width: 30px;
		height: 30px;
	}
    .second-nav-search .navbar-light .navbar-toggler, .navbar-toggler{
		border:0;
		color: #fff;
		filter: invert(72%) sepia(89%) saturate(509%) hue-rotate(343deg) brightness(100%) contrast(91%);
		stroke: rgb(255, 255, 255)!important;
    	stroke-opacity: 1;
		padding: .25rem 0rem;
		
	}
	.navbar-toggler-icon{
		width: 30px;
		height: 30px;
	}
}
@media (max-width:768px){
    .second-nav-search  {
        .search-form{
            width: 95% !important;
            top: 75px;
        }
	}
    .navigation-clean .navbar-brand, .navigation-clean-search .navbar-brand {
		margin-right: auto;
	}
}